# Executables
webserv

# Object files
*.o

# Dependency files
*.d

.vscode
.DS_Store

# nvim setup
compile_commands.json
autoimport.db

# test files
valgrind.log*
# python cache
__pycache__/
*.pyc

# internal test report
_testerResults.md
